pyspark==3.5.7
ray[data,default]==2.49.2
pyarrow==19.0.1
pandas==2.2.3
numpy==2.2.6
duckdb==1.3.2
matplotlib==3.10.6
protobuf==5.29.5
grpcio==1.74.0
opentelemetry-sdk==1.37.0
opentelemetry-exporter-prometheus==0.58b0
opentelemetry-proto==1.37.0
